/* 
Student Name:   Jose Ramos
Student ID:     01930952
Assignment:     Homework 5
Class:          GUI I
Date:           Wednesday 29/06/2022 
File:           style.css
*/

body {
    background-color: antiquewhite;
}

/* CSS for score board elements */
#score-board {
    display: flex;
    justify-content: space-evenly;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
}
#score-board p {
    display: inline;
}

/* Section for game board */
#one-line-board {
    background-image: url("../graphics_data/Scrabble_Board_OneLine.png");
    width: 1129px;
    height: 80px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
.tile-spot {
    width: 70px;
    height: 68px;
    margin-left: 6px;
    margin-top: 6px;
    float:left;
}

/* CSS for current word info */
#current-word-info {
    width: fit-content;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}
#current-word-info p {
    display: inline;
}
#current-word-info .current-word-value {
    color:rgb(133, 154, 91);
}
#current-word-info .letters-validation {
    color: red;
}
#current-word-info .dictionary-word {
    color: red;
}

/* CSS for all the elements on the rack */
#tile-rack{
    background-image: url("../graphics_data/scrabble-tile-holder-406774_640.png");
    background-size: 100% 100%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 100px;
    background-repeat: no-repeat;
    display:flex;
}
#tiles-in-rack {
    width: 550px;
    height: 80px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: auto;
    display: flex;
    justify-content:space-evenly;
}
.tile {
    width: 67px;
	height: 67px;
	float: left;
	background-color: #E2BB93;
    background-size: contain;
    overflow: auto;
    position: relative;
}

/* CSS for the game options section */
#game-options {
    width: 500px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}
#current-game-options {
    display: flex;
    justify-content: space-evenly;
}
#game-options button {
    width: 100px;
    height: 40px;
}
#submit-btn {
    background-color: gray;
    color: white;
}
#trade-btn {
    background-color: dodgerblue;
    color: white;
}
#new-game-btn {
    background-color: red;
    color: white;
}
#new-game-option {
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

/* Tiles sizes (Not all are the same) */
#board-tile-1 {
    width: 66px;
    height: 67px;
}
#board-tile-2 {
    width: 71px;
    height: 67px;
}
#board-tile-4 {
    width: 67px;
    height: 67px;
}
#board-tile-5 {
    width: 67px;
    height: 67px;
}
#board-tile-7 {
    width: 68px;
    height: 67px;
}
#board-tile-8 {
    width: 68px;
    height: 67px;
}
#board-tile-9 {
    width: 68px;
    height: 67px;
}
#board-tile-10 {
    width: 69px;
    height: 67px;
}
